#c0r14h,
#c1r14h,
#c2r14h,
#c3r14h,
#c0r13h,
#c1r13h,
#c2r13h,
#c3r13h,
#c0r12h,
#c2r12h,
#c0r11h,
#c4r11h {
    top: 12px;
    width: 168px;
    left: 61px;
}

#c0r11h,
#c4r11h {
    width: 171px;
}

#c4r11h {
    left: -175px;
    top: 10px;
}

#c0r14v,
#c1r14v,
#c2r14v,
#c3r14v,
#c4r14v,
#c2r13v {
    height: 21px;
    width: 0px;
    bottom: 26px;
    left: 29px;
}

#c4r14v {
    bottom: 24px;
}

#c0r13h,
#c1r13h,
#c2r13h,
#c3r13h {
    top: 9px;
}

#c0r13v,
#c4r13v,
#c0r12v,
#c5r11v {
    top: -31px;
    height: 22px;
}

#c0r12v {
    top: -26px;
}

#c5r11v {
    top: -24px;
}


#c4r13v {
    top: -25px;
}

#c1r13v,
#c3r13v,
#c2r12v {
    height: 10px;
    width: 0px;
    left: 29px;
    bottom: 19px;
}

#c2r12v {
    bottom: 15px;
}

#c2r13v {
    bottom: 31px;
}

#c0r12h,
#c2r12h {
    width: 173px;
}

#c1r12h,
#c3r12h {
    top: 25px;
    left: 51px;
    width: 173px;
}

#c1r12dl {
    right: 181px;
    top: 23px;
    width: 179px;
    transform: rotate(-15deg);
    transform-origin: right;
}

#c1r12ul {
    right: 183px;
    top: 21px;
    width: 181px;
    transform: rotate(15deg);
    transform-origin: right;
}

#c1r12ur,
#c3r12ur {
    right: -50px;
    top: 19px;
    width: 186px;
    transform: rotate(-15deg);
    transform-origin: left;
}

#c3r12ur {
    width: 181px;
}

#c1r12dr {
    right: -50px;
    top: 17px;
    width: 181px;
    transform: rotate(15deg);
    transform-origin: left;
}

#c3r12ul {
    right: 188px;
    top: 21px;
    width: 186px;
    transform: rotate(15deg);
    transform-origin: right;
}

#c1r12v {
    height: 10px;
    width: 0px;
    left: 25px;
    bottom: 21px;
}

#c0r11v {
    height: 10px;
    width: 0px;
    left: 27px;
    bottom: 15px;
}

#c3r11v {
    height: 9px;
    width: 0px;
    left: 24px;
    bottom: 12px;
}

#c4r11v {
    height: 10px;
    width: 0px;
    left: 31px;
    bottom: 16px;
}

#c2r10dl {
    right: 183px;
    top: 23px;
    width: 181px;
    transform: rotate(-15deg);
    transform-origin: right;
}

#c2r10dr {
    right: -50px;
    top: 17px;
    width: 186px;
    transform: rotate(15deg);
    transform-origin: left;
}

#c2r10ur {
    right: -50px;
    top: 19px;
    width: 181px;
    transform: rotate(-15deg);
    transform-origin: left;
}

#c3r10ul {
    right: 183px;
    top: 21px;
    width: 181px;
    transform: rotate(15deg);
    transform-origin: right;
}

#c3r10dl {
    right: 188px;
    top: 23px;
    width: 185px;
    transform: rotate(-15deg);
    transform-origin: right;
}

#c0r9h {
    top: 9px;
    width: 401px;
    left: 61px;
}

#c0r1v {
    height: 21px;
    width: 0px;
    bottom: 31px;
    left: 29px;
}

#c0r4v {
    height: 21px;
    width: 0px;
    bottom: 24px;
    left: 29px;
}

#pv00,
#pv01,
#pv02,
#pv03 {
    top: -2px;
}

#pv10,
#pv11,
#pv12,
#pv13 {
    top: -30px;
}

#pv14 {
    top: -23px;
}

#pv21 {
    top: -26px;
}

#pv20 {
    top: -22px;
    border-radius: 50%;
}

#pv22 {
    top: -25px;
}

#pv24 {
    top: -24px;
}

#pv31 {
    top: -14px;
}

#pv32 {
    top: -11px;
    border-radius: 50%;
}

#pv33 {
    top: -16px;
}

#pv50 {
    top: -31px;
}

#pv51 {
    top: -19px;
}

#pv52 {
    top: -30px;
}

#pv91 {
    top: -7px;
}

#board {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    width: 1000px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.square {
    border: 1px solid black;
    height: 25px;
    width: 60px;
}

.circle {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.line {
    position: relative;
    border: 1px solid black;
    background-color: black;
}

.invis-line {
    position: relative;
    border: 1px solid transparent
}

.bottom-line,
.invis-line {
    z-index: -99;
    width: 169px;
    left: 60px;
    top: 10px;
}

.vert-line {
    z-index: -98;
    height: 22px;
    width: 0px;
    bottom: 27px;
    left: 30px;
}

.candy-cane {
    height: 5px;
    background: repeating-linear-gradient(45deg,
            red,
            red 10px,
            white 10px,
            white 20px)
}

.candy-cane-vert {
    width: 5px;
    background: repeating-linear-gradient(45deg,
            red,
            red 10px,
            white 10px,
            white 20px);
    bottom: 32px;
    left: 27px;
}

.piece-list {
    width: 60px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 99;
    position: relative;
    left: -1px;
    top: -3px;
}

.piece-value {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-value:hover {
    background-color: lightgray;
}

.pieceValue {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    display: none;
}