.UserInterface {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-SearchBar {
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        input {
            width: 300px
        }
    }

    &-UsersContainer {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
    }

    &-UserDetail {
        flex: 1 1 auto
    }

    &-UserList {
        display: flex;
        overflow: hidden;
    }
}