.BackGround {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.PieceSelector {
    padding: 3px;
    border: 1px solid black;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    background-color: white;

    &-Piece {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        text-align: center;
        border-bottom: 1px solid black;
        div {
            width: 100%;
        }
    }

    &-Piece:hover{
        background-color: rgb(81, 223, 81);
        cursor: pointer;
    }

    &-Invalid {
        background-color: red;
        cursor:not-allowed;
    }

    &-Invalid:hover {
        background-color: red;
        cursor:not-allowed;
    }
}